@import "fonts"
@import "libs"
@import "vars"
@import "normalize"
@import "_mixins/mixins"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html
	font-size: 10px

html, body
	height: 100%

body
	min-width: 320px
	position: relative
	font-family: $default-font
	overflow-x: hidden

a
	color: inherit
	text-decoration: none
	&:hover
		color: inherit
	&:visited
		color: inherit

	// User code starts now __--__		


@import "media"
